<ion-view view-title="{{page_title}}">
<ion-content class="padding has-footer">
<!--Render a search form-->
<form name="reg_form" novalidate>
<div class="list ng-hide" ng-show="product_data.show_register==1">  

  <label class="item item-input item-stacked-label">
    <span class="input-label">Current Password</span>    
    <input type="password" name="frm_oldpassword" placeholder="Enter your current password" autocomplete="off" required ng-model="form_data.oldpassword" maxlength="60">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">New password</span>    
    <input type="password" name="frm_password" placeholder="Enter new password" autocomplete="off" required ng-model="form_data.password" maxlength="20" min="6">
  </label>
  
  
</div>
<div class="list ng-hide" ng-show="product_data.show_register==1">
    <button class="button button-block button-positive" ng-click="change_pass()"  ng-disabled="reg_form.$invalid">
     CHANGE PASSWORD
    </button>
</div>
</form>
<div class="padding">
            <p ng-show="reg_form.frm_oldpassword.$error.required">*Old password is required</p>
            
            <p ng-show="reg_form.frm_password.$error.required">* Password required</p>
            <p ng-show="reg_form.frm_password.$error.minlength">* Min 6 chars for password </p>
            
            <p ng-show="form_data.error==1">* {{form_data.message}}</p>
</div>


<div class="list ng-hide" ng-show="product_data.show_login==1">
  <div class="item item-icon-left">
    <i class="icon ion-person"></i>
    {{form_data.message}}
  </div>
  <div class="item">
  	<button class="button button-block button-positive" ng-click="goto_home()">
      GOTO HOME
    </button>
  </div>

 

</div>

</ion-content>
<ion-footer-bar align-title="left" class="bar-dark">
  
  <ion-nav-back-button class="button-clear">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button> 
  
</ion-footer-bar>
</ion-view>